<form (ngSubmit)="signUp()">
    <h1 class="special-font">Register</h1>
    <span>Username  </span>
    <input type="text" name="username" [(ngModel)]="newUser.username"><br><br>
    <span>Password  </span>
    <input type="password" name="password" [(ngModel)]="newUser.password"><br><br>
    
    <span>First Name  </span>
    <input type="text" name="firstName" [(ngModel)]="newUser.firstName"><br><br>
    
    <span>Last Name  </span>
    <input type="text" name="lastName" [(ngModel)]="newUser.lastName"><br><br>
    
    <span>City  </span>
    <input type="text" name="city" [(ngModel)]="newUser.city"><br><br>
    
    <span>State  </span>
    <input type="text" name="state" [(ngModel)]="newUser.state"><br><br>
    
    <button>
      Sign Up
    </button>
</form>