<form (ngSubmit)="signUp()">
    <h1>REGISTER</h1>
    <span>First Name  </span>
    <input placeholder="Enter first name" type="text" name="fname" [(ngModel)]="newUser.firstName"><br><br>
    <span>Last Name  </span>
    <input placeholder="Enter last name" type="text" name="lname" [(ngModel)]="newUser.lastName"><br><br>
    <span>Email  </span>
    <input placeholder="Enter Email" type="email" name="email" [(ngModel)]="newUser.email"><br><br>
    <span>Password  </span>
    <input placeholder="Enter Password" type="text" name="password" [(ngModel)]="newUser.password"><br><br>
    
    <button>
      Sign Up
    </button>
</form>